* {
	font-family: 'Poppins', sans-serif;
}

.navbar-items {
	display: inline-flex;
	flex-direction: row;
}

.navbar .navbar-items .item:not(:first-child) {
	margin-left: 16px;
}

.content {
	margin: auto;
	width: 794px;
}